.certivicateprogram-warpper{
    background-color: rgb(0, 0, 0);
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    position: relative;
    z-index: -4;
    display: flex;
    flex-direction: column;
}
.space-div{
    padding: 64px 0 40px 0;
    width: 100%;
    position: static;
    z-index: 1;
}

.head-div{
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.line{
    border: solid 3px #f97316;
    padding: auto 4px;
    width: 30%;
    background-color: #f97316;
}
.head-para{
    color: #f97316;
    margin: 0 8px ;
    font-size: 20px;
    font-weight: 700;   
}

@media(max-width:716px){
    .head-para{
        color: #f97316;
        margin: 0 8px ;
        font-size: 13px;
        font-weight: 600 ;   
    }
}

.head-para2{
   color: white;
   font-size: 40px;
   font-weight: 500;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   margin-top: 5px;
}
.head-para3{
    color: white;
    font-family: 16px;
    font-family: serif;
    text-align: center;
}
.certivicate-marquee{
    width: 100%;
    position: absolute;
    font-size: 128px;
    font-weight: 1000;
    z-index: -2;
    color: #fed7aa14;
    top: 35px;
    text-transform: capitalize !important;
}