.aboutus{
    width: 100vw;
    height: 100vh;
    
    position:static;
}

.about-logo{
    width: 100px;
    height: 40px;
}

.warpper-about-logo{
    padding: 15px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
    height: auto;
}

.sidebar{
    background-color: rgb(249, 249, 249) !important;
    border-right: solid 1px rgba(0, 0, 0, 0.244);
 
} 

.warpper-about-content{
    height: 100%;
    display: flex;
}

.sidebar{
    width: 100%;
    height: 100%;
}

.list-sidebar{
    width: 100%;
    height: auto;
    margin: auto auto;
    text-align: center;
    padding: 10px auto;

}

ul{
    padding: 15px 0 !important;
}
li{
    list-style: none;
    font-size: 20px;
    margin: 20px auto;
  font-weight: 600;
}
.center-content{
    border-right: solid 1px rgba(0, 0, 0, 0.234);
}
.title-about{
    border-bottom: solid 1px rgba(0, 0, 0, 0.212);
    padding: 15px 8px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-img{
    width: 90%;
    height:168px ;
    margin: 20px auto;
    border-radius: 9px;
    color: transparent;
    border: solid 1px rgba(0, 0, 0, 0.208);
    margin-left: 10px;
}
.center-about{
    width: 95%;
    margin: 10px auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f8f8;
}
.about-center-logo{
    width: 64px;
    height: 64px;
     
}
.color1{
    width: 164px;
    height: 164px;
    padding: auto;
    background-color: #d9d9d952;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.color2{
    border-radius: 50%;
    margin: auto;
    width: 104px;
    height: 104px;
    padding: 20px;
    background-color: #d9d9d9;
}
.center-about-content{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
}
.about-h1{
    font-family: f;
}
.about-subtitle{
    font-size: 23px;
    text-align: center;
    font-family: f;
}
.about-content{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.368);
    
}
.about-span{
    color: rgb(234 88 12);
    font-weight: 600;
    font-size: 15px;
}